.container {
  background: rgba(111, 120, 238, 0.31);
}

/*Jumbotron styling*/
.jumbotron {
  background-image: url("../images/backgrounds/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.jumbotron p{
  font-size: 40px;
  color: white;
  padding: 0px;
  margin: 0px;
}
.jumbotron img{
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

/*Food Menu styling*/

.row_menu {
  margin-left: auto;
  margin-right: auto;
  margin-top:  none;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

/*Column 1: Happy hour and Party Time*/
.menu-column-1 {
  padding: 0;
  margin:0;
}
.happy-hour-row{
  background: white;
  margin: 0px;
  padding: 30px;
}
.party-time-row{
  background: #F15A29;
  margin: 0px;
  padding: 30px;
  color: white;
}
.happy-hour-row:hover{
  cursor: grabbing;
  text-decoration: underline;
}
.party-time-row:hover{
  cursor: crosshair;
  text-decoration: underline;
}

/*Column 2: Breakfast */
.menu-column-2 {
  background-image: url("../images/foodtop/breakfast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.menu-column-2:hover{
  opacity: 0.5;
  cursor: grabbing;
  text-decoration: underline;
  color: black;
}
.breakfast {
  margin-top: 70px;
}

/*Column 3: Lunch */
.menu-column-3 {
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.0;
  color: white;
}
.lunch {
  margin: 70px;
  margin-left: 50px;
}
.menu-column-3:hover {
  background-image: url("../images/foodtop/lunch.jpg");
  opacity: 0.5;
  color: black;
  cursor: grabbing;
  text-decoration: underline;
}

/*Column 4: Dinner*/
.menu-column-4 {
  background-image: url("../images/foodtop/dinner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.0;
  color: white;
}
.dinner {
  margin-top: 70px;
}
.menu-column-4:hover{
  background-image: url("../images/foodtop/dinner.jpg");
  opacity: 0.5;
  color: black;
  cursor: grabbing;
  text-decoration: underline;
}

/*Body: First body content and card images*/
.body-content-1 {
  margin-top: 50px;
}
.card-with-images {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 28rem;
  height: 22rem;
  padding-top: 10px;
  box-shadow: 0px 0px 10px #000000;
}
.row_img{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.row_img img{
  object-fit: fill;
}
.content-1-text {
  float: right;
  text-align: left;
  margin-top: 20px;
  margin-right: 30rem;
}
.content-1-text h2{
  font-size: 40px;
}
.content-1-text h5{
  font-size: 25px;
}
.content-1-text p{
  font-size: 19px;
}
.content-1-text a{
  border: 1px solid #F15A29;
  padding: 10px;
  font-size: 19px;
  box-shadow: 2px 0px 5px #F15A29;
  color: #F15A29;
}
.content-1-text a:hover{
  box-shadow: 5px 0px 15px #F15A29;
  color: #F15A29;
}
