body {
  background: black; /* TODO: Remove comment when through with project */
  font-family: 'Source Serif Pro', serif;


}

.container {
  background: rgba(111, 120, 238, 0.31);
}

/*Jumbotron styling*/
.jumbotron {
  background-image: url("../images/backgrounds/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.jumbotron p{
  font-size: 40px;
  color: white;
  padding: 0 0 2em 0;
  margin: 0px;
}
.jumbotron img{
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

/*Food Menu styling*/

.row_menu {
  margin-left: auto;
  margin-right: auto;
  margin-top:  none;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
/*End menu styling*/

/*Column 1: Happy hour and Party Time*/
.menu-column-1 {
  padding: 0;
  margin:0;
}
.happy-hour-row{
  background: white;
  margin: 0px;
  padding: 30px;
  font-size: 22px;
}
.party-time-row{
  background: #F15A29;
  margin: 0px;
  padding: 30px;
  color: white;
  font-size: 22px;
}
.happy-hour-row:hover{
  cursor: grabbing;
  text-decoration: underline;
}
.party-time-row:hover{
  cursor: grabbing;
  text-decoration: underline;
}
/*End of column 1*/

/*Column 2: Breakfast */
.menu-column-2 {
  background-image: url("../images/foodtop/breakfast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  color: white;
}

.menu-column-2:hover{
  opacity: 0.5;
  cursor: grabbing;
  text-decoration: underline;
  color: black;
}
.breakfast {
  font-size: 22px;
  margin-top: 70px;
}
/*End of Column 2*/

/*Column 3: Lunch */
.menu-column-3 {
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.0;
  color: white;
}
.lunch {
  margin: 70px;
  margin-left: 50px;
  font-size: 22px;
}
.menu-column-3:hover {
  background-image: url("../images/foodtop/lunch.jpg");
  opacity: 0.5;
  color: black;
  cursor: grabbing;
  text-decoration: underline;
}
/*End of Column 3*/

/*Column 4: Dinner*/
.menu-column-4 {
  background-image: url("../images/foodtop/dinner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1.0;
  color: white;
}
.dinner {
  font-size: 22px;
  margin-top: 70px;
}
.menu-column-4:hover{
  background-image: url("../images/foodtop/dinner.jpg");
  opacity: 0.5;
  color: black;
  cursor: grabbing;
  text-decoration: underline;
}
/*End of Column 4*/

/*Body: FAST FOOD content and card images*/
.body-content-1 {
  padding-top: 5em;
  background: white;
}
.card-with-food-images {
  margin-right: 0px;
  margin-left: auto;
  width: 35rem;
  padding: 10px;
  box-shadow: 0px 0px 10px #000000;
}
.row_img{
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}
.row_img img{
  object-fit: fill;
  margin: 0px;
  padding: 0px;
}
.content-1-text {
  float: right;
  text-align: left;
  margin-right: 15rem;
  margin-left: 3em;
}
.content-1-text h2{
  font-size: 40px;
}
.content-1-text h5{
  font-size: 25px;
}
.content-1-text p{
  font-size: 17px;
}
.content-1-text a{
  border: 1px solid #F15A29;
  padding: 10px;
  font-size: 17px;
  box-shadow: 2px 0px 5px #F15A29;
  color: #F15A29;
}
.content-1-text a:hover{
  box-shadow: 5px 0px 15px #F15A29;
  color: #F15A29;
  text-decoration: none;;
}
.content-1-text .arrow {
  margin-left: 10px;
}
/*End of content-1: Fast Food*/

/*DRINKS content and card images*/
.body-content-2 {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 0px;
  background: white;
}
.card-with-drink-images {
  margin-left: 0px;
  margin-right: auto;
  width: 35rem;
  padding: 10px;
  box-shadow: 0px 0px 10px #000000;
}
.row_2_img {
  padding: 0px;
  margin: 0px;
}
.row_2_img img{
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  max-height: 100%;
}
.content-2-text {
  float: left;
  text-align: right;
  margin-left: 15rem;
  margin-right: 3em;
}
.content-2-text h2{
  font-size: 40px;
}
.content-2-text h5{
  font-size: 25px;
}
.content-2-text p{
  font-size: 17px;
}
.content-2-text a{
  border: 1px solid #F15A29;
  padding: 10px;
  font-size: 17px;
  box-shadow: 2px 0px 5px #F15A29;
  color: #F15A29;
}
.content-2-text a:hover{
  box-shadow: 5px 0px 15px #F15A29;
  color: #F15A29;
  text-decoration: none;;
}
.content-2-text .arrow {
  margin-left: 10px;
}
/*End of content-1: DRINKS*/

/*Picture Slider Section*/
.picture-slider-section {
  background-image: url("../images/backgrounds/foodsBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
}
.picture-slider-section p{
  margin: 0; /*BUG: This style targets the "bug removers" */
}
.nav-tabs {
  background: rgb(221, 221, 221);
  padding: 0;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}
.nav-tabs .col-md-3{
  border-left: 1px solid rgba(180, 180, 180, 0.5);
}
.nav-tabs .active{
  background: white;
  color: #F15A29;
}
.nav-tabs p{
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}
.slider {
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
  padding-bottom: 10px;
  text-align: center;
  width: 60%;
}
.slider img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 2em;
}
.slider p{
  margin-top: 10px;
  color: #F15A29;
}
#arrowLeft {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  font-size: 45px;
  color: #F15A29;
}
#arrowRight {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  font-size: 45px;
  color: #F15A29;
}
/*End of picture slider section*/

/*Customer comment section + About menu section*/
.customer-review-section {
  background: white;
  margin: 0;
  padding: 5em;
}

.happy-customers {
  text-align: center;
}
.about-menu {
  text-align: center;
}
/*End of customer comment + About menu section*/

/*Email subscription section*/
/*End of Email subscription Section*/

/*Footer*/
/*End of Footer*/
